[submodule "general/cowfiles"]
	path = general/cowfiles
	url = git@github.com:samhwang/cowfiles.git
	branch = mycows
[submodule "general/.vim/pack/default/start/gruvbox"]
	path = general/.vim/pack/default/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "Linux/gnome-terminal-colors"]
	path = Linux/gnome-terminal-colors
	url = git@github.com:metalelf0/gnome-terminal-colors.git
