[submodule "general/cowfiles"]
	path = general/cowfiles
	url = git@github.com:samhwang/cowfiles.git
	branch = mycows
[submodule "general/.vim/pack/default/start/gruvbox"]
	path = general/.vim/pack/default/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
	ignore = dirty
[submodule "general/nvm"]
	path = general/nvm
	url = git@github.com:nvm-sh/nvm.git
	ignore = dirty
[submodule "general/ohmyzsh"]
	path = general/ohmyzsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "general/custom-omz/plugins/zsh-autosuggestions"]
	path = general/custom-omz/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "general/custom-omz/plugins/zsh-syntax-highlighting"]
	path = general/custom-omz/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
