[submodule "general/cowfiles"]
	path = general/cowfiles
	url = git@github.com:samhwang/cowfiles.git
	branch = mycows
[submodule "general/.vim/pack/default/start/gruvbox"]
	path = general/.vim/pack/default/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "general/zgenom"]
	path = general/zgenom
	url = git@github.com:jandamm/zgenom.git
[submodule "general/nvm"]
	path = general/nvm
	url = git@github.com:nvm-sh/nvm.git
